@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3B82F6;
  --primary-light: #eaeef5;
  --primary-dark: #0040c2;
  --secondary: #6B7280;
  --accent: #0EA5E9;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
}
